#headersParams p input {width: 100px;}
#headersParams p .paramValueInput {width: 50px;}
#bodyParams p input {width: 100px;}
#bodyParams p .paramValueInput {width: 50px;}
.messageBoxBSuccess{color:#6aa84f;font-size: 16px;}
.messageBoxBFail{color:#660000;font-size: 16px;}
.messageBoxBWarning{color:#ffd966;font-size: 16px;}
.messageBoxBError{color:#cc0000;font-size: 16px;}
.messageBoxBTip{color:#0088CC;font-size: 16px;}

/*
#apiDetailArea{padding:20px;}
#apiDetailArea label{
    font-weight: bold;}
#apiDetailArea span{
    color: red;}
#apiDetailArea b{
    color: #0088CC;}
#apiDetailArea li{
    padding:5px;
    border-bottom: 1px solid #efefef;
    font-size: 14px;
}
#apiDetailArea table{
    width: 100%;
    table-layout:fixed;
    empty-cells:show;
    border-collapse: collapse;
    margin:0 auto;
}
#apiDetailArea table th{
    border:1px solid #efefef;
    background: #ccc;
}
#apiDetailArea table td{
    border:1px solid #efefef;
    color: #6aa84f;
}
*/