<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header :: head"></head>
<body class="easyui-layout">
<style>
    #addNewApiPanel{
        font-size: 16px;}
    .addApiForm{margin: 10px;}
    .addApiForm label{display: block;
        width: 140px;
        float: left;
        text-align: right;
        padding-right: 10px;}
</style>
<div data-options="region:'north',border:false" style="height:60px;">
    <h1>Mock Server
        <a href="/index.html" class="easyui-linkbutton" data-options="plain:true" iconCls="icon-back">Home</a>
        <a class="easyui-linkbutton saveall" data-options="plain:true" iconCls="icon-save">Save</a>
    </h1>
</div>

<div data-options="region:'south',border:false" style="height:30px;padding:10px;text-align: center;">
    2018 &copy; Mock Server v1.0.0
</div>
<div id="addNewApiPanel" data-options="region:'center',title:'Add New API'">

    <div class="easyui-tabs" style="width:100%;height:100%">
        <div title="API信息" style="padding:10px">

            <div class="addApiForm">
                <label>API Group:</label>
                <span id="apiGroupSelect"></span>
            </div>

            <div class="addApiForm">
                <label for="apiName">API Name:</label>
                <span id="apiName"><input class="easyui-validatebox" type="text" style="width: 60%;" placeholder="input api name" name="apiName" data-options="required:true" /></span>
            </div>

            <div class="addApiForm">
                <label for="Restful">Restful:</label>
                <input id="Restful" class="easyui-validatebox" type="text" style="width: 60%;" placeholder="/xxxx/xxx/xxx/xxx/xxx" name="Restful" data-options="required:true" />
            </div>
            <div class="addApiForm">
                <label>Request Method:</label>
                <span id="reqMethodSelect"></span>
            </div>
            <div class="addApiForm">
                <label>Request Content Type:</label>
                <span id="reqContentTypeSelect"></span>
            </div>
            <div class="addApiForm">
                <label>Response Content Type:</label>
                <span id="respContentTypeSelect"></span>
            </div>


            <div class="addApiForm">
                <label for="preApiInput">Pre API:</label>
                <span id="preAPI"><input id="preApiInput" name="preApiInput" type="text" value="无" class="easyui-validatebox" data-options="required:true"/></span>
            </div>
            <div class="addApiForm">
                <label>Is Expired:</label>
                <span id="isExpired"><select id="isExpiredSelect"><option value="0" selected="selected">否</option><option value="1">是</option></select></span>
            </div>
            <div class="addApiForm">
                <label for="version">Version No.:</label>
                <span id="versionNo"><input id="version" name="version" type="text" value="0.0.1" class="easyui-validatebox" data-options="required:true"/> </span>
            </div>
            <div class="addApiForm">
                <label for="dbNameTable">DB Name And Table Name:</label>
                <span id="dbNameAndTableName"><textarea id="dbNameTable" name="dbNameTable" style="width: 60%;height: 60px;" class="easyui-validatebox" placeholder="涉及到的数据与表，以及表字段说明"  data-options="required:true"></textarea></span>
            </div>



        </div>
        <div title="入参" style="padding:10px">
            <table style="width: 100%">
                <tr>
                    <td width="80%" style="vertical-align: top;">
                        <div class="addApiForm" style="border-bottom: 1px solid #efefef;padding: 5px;">
                            <label>是否有headers类型参数:</label>
                            <span class="radioSpan">
                            <input type="radio" name="headersFlag" checked="checked" value="0">否</input>
                            <input type="radio" name="headersFlag" value="1">是</input>
                            </span>
                            <div id="headersParams"></div>
                            <div id="addHeadersParamBtn" style="display: none"><a href="javascript:addHeaderParam();" class="easyui-linkbutton" data-options="plain:true" iconCls="icon-add"></a></div>
                        </div>

                        <div class="addApiForm" style="border-bottom: 1px solid #efefef;padding: 5px;">
                            <label>是否有Body类型参数:</label>
                            <span class="radioSpan">
                    <input type="radio" name="bodyFlag" checked="checked" value="0">否</input>
                                <input type="radio" name="bodyFlag" value="1">是</input>
                </span>
                            <div id="bodyParamsType" style="margin: 20px;"></div>
                            <div id="bodyParams"></div>
                            <div id="addBodyParamBtn" style="display: none"><a href="javascript:addBodyParam();" class="easyui-linkbutton" data-options="plain:true" iconCls="icon-add"></a></div>
                            <div id="bodyRawParams" style="display: none">
                                <div id="jsoneditorRaw" style="width: 100%; height: 500px;"></div>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: top;">
                        <label>参数说明</label><br/>
                        <textarea id="inputParamDesc" placeholder="输入各类参数的详细说明" style="width: 100%;height: 500px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div title="正确出参"  style="padding:10px">
            <table style="width: 100%">
                <tr>
                    <td width="80%" style="vertical-align: top;">
                        <div class="addApiForm">
                            <div id="jsoneditorSuccess" style="width: 100%; height: 500px;"></div>
                        </div>
                    </td>
                    <td style="vertical-align: top;">
                        <label>参数说明</label><br/>
                        <textarea id="outPutDesc" placeholder="输入各类参数的详细说明" style="width: 100%;height: 500px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div title="错误出参"  style="padding:10px">
            <table style="width: 100%">
                <tr>
                    <td width="80%" style="vertical-align: top;">
                        <div class="addApiForm">
                            <div id="jsoneditorFail" style="width: 100%; height: 500px;"></div>
                        </div>
                    </td>
                    <td style="vertical-align: top;">
                        <label>参数说明</label><br/>
                        <textarea id="outPutFailDesc" placeholder="输入各类参数的详细说明" style="width: 100%;height: 500px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>















</div>

<script type="text/javascript" th:src="@{/js/project/common.js}"></script>
<script type="text/javascript" th:src="@{/js/project/addApi.js}"></script>
<script type="text/javascript" th:src="@{/js/project/saveall.js}"></script>
</body>
</html>
