<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header :: head"></head>
<body class="easyui-layout">
<div id="addMenu" style="width:150px;">
    <div iconCls="icon-add" onclick="window.location.href='/addapi.html'">API</div>
    <div id="addApiGroupBtn" iconCls="icon-add">API Group</div>
</div>
<div data-options="region:'north',border:false" style="height:60px;">
    <h1>Mock Server
        <a href="#" class="easyui-menubutton" menu="#addMenu" iconCls="icon-add">Add</a>
    </h1>
</div>
<div data-options="region:'west',split:true,title:'Navigation'" style="width:150px;padding:10px;">
    <ul class="easyui-tree" id="easyui-tree-id"
        data-options="url:'/restful/apigroups',method:'get',animate:true"
    >
    </ul>
</div>
<div data-options="region:'east',split:true,collapsed:true,title:'Ops'" style="width:100px;padding:10px;">east region</div>
<div data-options="region:'south',border:false" style="height:30px;padding:10px;text-align: center;">
    2018 &copy; Mock Server v1.0.0
</div>
<div data-options="region:'center',title:'API List'"></div>




<div id="addApiGroupWin" class="easyui-window" title="Add API Group" closed="true" style="width:300px;height:130px;padding:5px;">
    <div id="addApiGroupNameTip" style="text-align: center;margin-top: 3px"></div>
    <form id="addApiGroupForm" method="post" class="easyui-form" data-options="novalidate:true">
        <div style="text-align: center">
            API Group Name: <input class="easyui-textbox" id="addGroupNameId" name="groupName" data-options="required:true" type="text"></input>
        </div>
        <div style="text-align: center;margin-top: 3px">
            <input type="submit" value="Submit"></input>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/project/common.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>
